body{
    background-color: #ffffff;
    font-family: "Roboto",sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.container.header{
    display: flex;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-list{
    display:flex;
    gap: 40px;
}
.nav-link{
    padding: 24px 0;
}
.header-contacts{
    display: flex;
    gap: 40px;
}
.logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-web{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42 ;
}
a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
ul{
    list-style: none;
}
.contacts{
    font-style: normal;
    color: #434455;
}
.nav-link-contact{
    color: #434455;
}
.nav-link-contact:hover{
    color: #404bbf;
}
.nav-link-contact:focus{
    color: #404bbf;
}
.team{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-section-list{
    background-color: #ffffff;
}
.portfolio-title{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-tools{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.footer{
    background-color:#2e2f42;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
.logo-web-footer{
    color: #f4f4fd;
}
.paragraph-footer{
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.nav-link:hover{
    color: #404bbf; 
}
.nav-link:focus{
    color: #404bbf;
}
.hero-section{
    background-color: #2e2f42;
    padding: 188px 0;
}
.hero-section-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.button-order{
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button-order:hover{
    background-color: #404bbf
}
.button-order:focus{
    background-color: #404bbf;
}
.advantages{
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        border: 0 !important;
}
.advantages-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    flex-basis: calc((100% - 72px) / 4);
}
.team-section{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-section-list{
    border-radius: 0px 0px 4px 4px;
}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-member{
    padding: 32px 0;
}
.team{
    margin-bottom: 72px;
}
.team-section-names-list{
    display: flex;
    gap: 24px;
}
.paragraph{
    color: #434455;
    text-align: center;
}
.advantages-section{
    padding: 120px 0;
}
.advantages-box{
    display: flex;
    gap: 24px;
}
.advantages-punkts{
    width: calc((100% - 72px) / 4);
}